/* General Layout */
.app-container1 {
  top: 20px;
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  border-radius: 15px;
  

}
/* Hero Section */
.hero-section {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #ffffff;
  margin-top: 20px;
  border-top-left-radius: 15px;  
  border-top-right-radius: 15px; 
  border-bottom-left-radius: 0;  
  border-bottom-right-radius: 0; 
  

  
}

.hero-content {
  max-width: 500px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Features Section */
.features-section {
  padding: 40px;
  background-color: #f3f3f3;
}

.features-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.feature-box {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
  min-width: 250px;
  text-align: center;
  transition: transform 0.2s ease;

}
.feature-box:hover {
  transform: translateY(-5px);
}

 /* Feature Icon */
.feature-icon {
  width: 50px; 
  height: 50px; 
  margin-bottom: 0px; 
}


/* Utility Classes */
.rotate {
  transform: rotate(90deg);
}

.chevron {
  transition: transform 0.3s ease;
}
.button-primary1 {
  display: block;
  background-color: #001f3f !important;
  color: white;
  border: none;
  padding: 7.5px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  width: 140px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  

  .main-content {
      margin-left: 0;
  }
  .header {
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
    
  }

  .header-nav {
    display: none; 
  }

  .button-primary1 {
    display: block;
    background-color: #0070f3;
    color: white;
    border: none;
    padding: 7.5px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
    text-decoration: none;
  }

  .header-content {
    justify-content: flex-end;
  }

  .sidebar-toggle {
    background-color: #0070f3;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer; 
    position: fixed; 
    right: 40px; 
    top: 36px; 
    z-index: 1001; 
  }
  

  .hero-section {
      flex-direction: column;
  }
  .app-container1 {
    top: 20px;
    display: flex;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    border-radius: 15px;
    margin-left: -10px;
  }
}
